{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            base file 
        {% endblock %}
    </title>
    {% tailwind_css %}

    {% comment %} bootstrap5 {% endcomment %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body class='bg-black px-4'>
    
      <main>
        <section>
            {% block content %}

            {% endblock %}
        </section>
      </main>
</body>
</html>